name: Cloudbase-Init functional tests

on: [push, pull_request]

jobs:
  build:

    runs-on: windows-latest
    strategy:
      max-parallel: 100
      matrix:
        python-version: [3.8]
        cloud: [openstack]

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v1
      with:
        python-version: ${{ matrix.python-version }}
    - name: Download external dependencies
      shell: powershell
      run: |
        try { git clone "https://github.com/ader1990/cloudbase-init-test-resources-1" cbs-test-res }catch{}
        try { git clone "https://github.com/cloudbase/PyMI" pymi} catch {}
        cd "cbs-test-res/${{ matrix.cloud }}"
        try {
            & "../bin/mkisofs.exe" -o "../../cloudbase-init-config-drive.iso" -ignore-error -ldots -allow-lowercase -allow-multidot -l -publisher "cbsl" -quiet -J -r -V "config-2" "cloudbase-init-metadata" 2>&1 | %{ "$_" }
        } catch {}
        try {
            & "../bin/mkisofs.exe" -o "../../cloudbase-init-config-drive1.iso" -ignore-error -ldots -allow-lowercase -allow-multidot -l -publisher "cbsl" -quiet -J -r -V "cidata" "cloudbase-init-metadata" 2>&1 | %{ "$_" }
        } catch {}
    - name: Install local dependencies
      shell: powershell
      run: |
        try {
            python -W ignore -m pip install --upgrade pip 2>&1 | %{ "$_" }
        } catch {}
        try {
            python -W ignore -m pip install -c https://git.openstack.org/cgit/openstack/requirements/plain/upper-constraints.txt -U --force-reinstall -r requirements.txt 2>&1 | %{ "$_" }
        } catch {}
        cd pymi
        try {
            python -W ignore -m pip install -r requirements.txt 2>&1 | %{ "$_" }
        } catch {}
        try {
            python -W ignore -m pip install . 2>&1 | %{ "$_" }
        } catch {}
        cd ..
        try {
            python -W ignore -m pip install . 2>&1 | %{ "$_" }
        } catch {}
    - name: Run Cloudbase-Init
      shell: powershell
      run: |
        $Erroractionpreference = "Continue"
        Mount-DiskImage -ImagePath (Resolve-Path ./cloudbase-init-config-drive.iso) | Out-Null
        Mount-DiskImage -ImagePath (Resolve-Path ./cloudbase-init-config-drive1.iso) | Out-Null
        winrm.cmd quickconfig -force -q | Out-Null
        mkdir "./metadata" | Out-Null
        cp -recurse -force "$((Get-DiskImage (Resolve-Path './cloudbase-init-config-drive.iso') | Get-Volume).DriveLetter):\*" "./metadata";
        if (Test-path ".\metadata\openstack\latest\network_data.json.template") {
            (Get-Content ".\metadata\openstack\latest\network_data.json.template").Replace("REPLACE_MAC_ADDRESS", ((Get-NetAdapter Ethernet).macaddress).Replace("-",":")) | Set-Content ".\metadata\openstack\latest\network_data.json" -Encoding Ascii
        }
        Start-Process -FilePath python.exe -ArgumentList "-m http.server" -NoNewWindow -WorkingDirectory (Resolve-Path("./metadata")) 2>&1 >> http_server.log
        cd "cbs-test-res/${{ matrix.cloud }}/"
        try {
            & cmd /c "cloudbase-init.exe --noreset_service_password --config-file ./cloudbase-init.conf 2>&1" 2>&1 | %{ "$_" } | Tee-Object -FilePath cloudbase-init.log
        } catch {}
        $errors = $(cat ./cloudbase-init.log | Where-Object {$_ -like "*error*"})
        $pluginExecution = $(cat ./cloudbase-init.log | Where-Object {$_ -like "*Plugins execution done*"})
        if ($errors -or !$pluginExecution) {
            exit 1
        }